# RUNTIME
PUID=1000
PGID=1000
TZ=UTC

# APPLICATION
DRY_RUN=false
# APP_VERSION=
CONFIG_PATH=/config/config.yaml
HTTP_RETRY_COUNT=3
HTTP_TIMEOUT_SECONDS=30

# DATABASE
DATABASE_PATH=/app/data/warden.db
