# --[ RUNTIME ]----------------------------------------------------------------

PUID=1000
PGID=1000
TZ=UTC

# --[ APPLICATION ]------------------------------------------------------------

DRY_RUN=false
